*{
    margin: 0px;
    padding: 0px;
}
/* 去掉ul ol 小圆点 */
ul, ol{
    list-style: none;
}
/* 去掉超级了链接下划线 */
a{
    text-decoration: none;
}
/* 使用继承性，给body标签设置字体 */
body{
    font: normal 14px/25px '微软雅黑'
}
header{

}

header .header-top{
    width: 1172px;
    margin: 0 auto;
    /* 清除浮动 */
    overflow: hidden;
}
header .header-top .logo{
    float: left;
    padding-top: 39px;
    width: 192px;
    height: 63px;
    color: #015E58;
    font-size: 20px;
}
header .header-top .logo h1{
    width: 192px;
    height: 63px;    
}
header .header-top .tool{
    float: right;
    padding-top: 35px;
    width: 266px;
    height: 72px;
}
header .header-top .tool .r1{
    margin-bottom: 10px;
} 
header .header-top .tool .r1 .tel{
    height: 25px;
    width: 32px;
}
header .header-top .tool .r1 .tel_number{
    height: 26px;
    width: 150px;
    font-size: 20px;
    color: #00978E;
    display: inline-block;
    text-align: center;
}
header .header-top .tool .r1 .icon{
    height: 24px;
    width: 24px;
}
header .header-top .tool .r1 .chinese_icon{
    margin-right: 12px;
}
header .header-top .tool .r2{
    width: 264px;
    height: 28px;
    border: 1px solid rgba(202,202,202,0.60);
}
header .header-top .tool .r2 input{
    float: left;
    width: 224px;
    height: 28px;
    /* 去掉边框线 */
    border: none;
    padding-left: 20px;
    /* 去掉鼠标点击蓝色框 */
    outline: none;
}
header .header-top .tool .r2 input::placeholder{
    /* color: rgba(202,202,202,0.60); */
    font-family: Helvetica;
    font-size: 16px;
}
header .header-top .tool .r2 button{
    float: left;
    width: 20px;
    height: 20px;
    /* 去掉背景 */
    background: none;
    border: none;
    outline: none;
    /* 设置触碰时候的鼠标指针的样式 */
    cursor: pointer;
    /* 相对定位 */
    position: relative;
    top: 4px;
    right: 4px;
}
header .main-nav{
    /* 不用写宽度 自动就撑满了 */
    height: 60px;
    background-color: #00978E;
    margin-top: 29px;
}

header .main-nav ul{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
header .main-nav ul li{
    float: left;
    width: 150px;
    text-align: center;
    /* 行高等于盒子高 */
    line-height: 60px;
    font-family: Helvetica;
    font-size: 16px;
}
/* 交集选择器 */
header .main-nav ul li.cur{
    background-color: #015E58;
}
header .main-nav ul li a{
    /* 转为块级元素 */
    display: block;
    width: 150px;
    height: 60px;
    color: white;
}
header .main-nav ul a:hover{
    background-color: orange;
}
.banner{
    position: relative;
}
.banner .banner-img{
    width: 100%;

}
.banner .center{
    position:absolute;
    width: 1200px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -600px;
}
.banner .center .left-btn{
    position: absolute;
    width: 56px;
    height: 64px;
    background-color: rgba(0, 0, 0, .3);
    left:0;
    top: 50%;
    margin-top: -32px;
}
.banner .center .right-btn{
    position: absolute;
    width: 56px;
    height: 64px;
    background-color: rgba(0, 0, 0, .3);
    right:0;
    top: 50%;
    margin-top: -32px;
}
.banner .center h2{
    position: absolute;
    width: 480px;
    height: 79px;
    font-family: Helvetica;
    font-size: 60px;
    color: #015E58;
    font-weight: normal;
    top:50%;
    margin-top: -79px;
    left: 148px;
}

.banner ol{
    position: absolute;
    width: 120px;
    height: 12px;
    bottom: 20px;
    /* 水平居中 */
    left: 50%;
    margin-left: -60px;
}
.banner ol li{
    float: left;
    width: 20px;
    height: 12px;
    background-color: white;
    margin-right: 10px;
}
/* 最后一个没有margin */
.banner ol li:last-child{
    margin-right: 0px;
}
.banner ol li.cur{
    width: 30px;
    background-color: #00978E;
}
/* 内容部分 */
.content{
    padding-top: 71px;
}
.content .useful-links{
    width: 906px;
    height: 147px;
    margin: 0 auto;
}
.content .useful-links ul{
    /* 清除浮动 */
    overflow: hidden;
}
.content .useful-links ul li{
    float: left;
    width: 106px;
    margin-right: 54px;
}
.content .useful-links ul li span{
    /* 转块 不设置宽度 就相当于width属性为100%了，此时可以text-align:center居中*/
    display: block;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    line-height: 40px;
}
.content .useful-links ul li:last-child{
    margin-right:0px;
}