*{
    margin: 0px;
    padding: 0px;
}
/* 去掉ul ol 小圆点 */
ul, ol{
    list-style: none;
}
/* 去掉超级了链接下划线 */
a{
    text-decoration: none;
}
/* 使用继承性，给body标签设置字体 */
body{
    font: normal 14px/25px '微软雅黑'
}
header{

}

header .header-top{
    width: 1172px;
    margin: 0 auto;
    /* 清除浮动 */
    overflow: hidden;
}
header .header-top .logo{
    float: left;
    padding-top: 39px;
    width: 192px;
    height: 63px;
    color: #015E58;
    font-size: 20px;
}
header .header-top .logo h1{
    width: 192px;
    height: 63px;    
}
header .header-top .tool{
    float: right;
    padding-top: 35px;
    width: 266px;
    height: 72px;
}
header .header-top .tool .r1{
    margin-bottom: 10px;
} 
header .header-top .tool .r1 .tel{
    height: 25px;
    width: 32px;
}
header .header-top .tool .r1 .tel_number{
    height: 26px;
    width: 150px;
    font-size: 20px;
    color: #00978E;
    display: inline-block;
    text-align: center;
}
header .header-top .tool .r1 .icon{
    height: 24px;
    width: 24px;
}
header .header-top .tool .r1 .chinese_icon{
    margin-right: 12px;
}
header .header-top .tool .r2{
    width: 264px;
    height: 28px;
    border: 1px solid rgba(202,202,202,0.60);
}
header .header-top .tool .r2 input{
    float: left;
    width: 224px;
    height: 28px;
    /* 去掉边框线 */
    border: none;
    padding-left: 20px;
    /* 去掉鼠标点击蓝色框 */
    outline: none;
}
header .header-top .tool .r2 input::placeholder{
    /* color: rgba(202,202,202,0.60); */
    font-family: Helvetica;
    font-size: 16px;
}
header .header-top .tool .r2 button{
    float: left;
    width: 20px;
    height: 20px;
    /* 去掉背景 */
    background: none;
    border: none;
    outline: none;
    /* 设置触碰时候的鼠标指针的样式 */
    cursor: pointer;
    /* 相对定位 */
    position: relative;
    top: 4px;
    right: 4px;
}
header .main-nav{
    /* 不用写宽度 自动就撑满了 */
    height: 60px;
    background-color: #00978E;
    margin-top: 29px;
}

header .main-nav ul{
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}
header .main-nav ul li{
    float: left;
    width: 150px;
    text-align: center;
    /* 行高等于盒子高 */
    line-height: 60px;
    font-family: Helvetica;
    font-size: 16px;
}
/* 交集选择器 */
header .main-nav ul li.cur{
    background-color: #015E58;
}
header .main-nav ul li a{
    /* 转为块级元素 */
    display: block;
    width: 150px;
    height: 60px;
    color: white;
}
header .main-nav ul a:hover{
    background-color: orange;
}
.banner{
    position: relative;
}
.banner .banner-img{
    width: 100%;

}
.banner .center{
    position:absolute;
    width: 1200px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -600px;
}
.banner .center .left-btn{
    position: absolute;
    width: 56px;
    height: 64px;
    background-color: rgba(0, 0, 0, .3);
    left:0;
    top: 50%;
    margin-top: -32px;
}
.banner .center .right-btn{
    position: absolute;
    width: 56px;
    height: 64px;
    background-color: rgba(0, 0, 0, .3);
    right:0;
    top: 50%;
    margin-top: -32px;
}
.banner .center h2{
    position: absolute;
    width: 480px;
    height: 79px;
    font-family: Helvetica;
    font-size: 60px;
    color: #015E58;
    font-weight: normal;
    top:50%;
    margin-top: -79px;
    left: 148px;
}

.banner ol{
    position: absolute;
    width: 120px;
    height: 12px;
    bottom: 20px;
    /* 水平居中 */
    left: 50%;
    margin-left: -60px;
}
.banner ol li{
    float: left;
    width: 20px;
    height: 12px;
    background-color: white;
    margin-right: 10px;
}
/* 最后一个没有margin */
.banner ol li:last-child{
    margin-right: 0px;
}
.banner ol li.cur{
    width: 30px;
    background-color: #00978E;
}
/* 内容部分 */
.content{
    padding-top: 71px;
}
.content .useful-links{
    width: 906px;
    height: 147px;
    margin: 0 auto;
}
.content .useful-links ul{
    /* 清除浮动 */
    overflow: hidden;
}
.content .useful-links ul li{
    float: left;
    width: 106px;
    margin-right: 54px;
}
.content .useful-links ul li span{
    /* 转块 不设置宽度 就相当于width属性为100%了，此时可以text-align:center居中*/
    display: block;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    color: #000000;
    font-weight: normal;
    line-height: 40px;
}
.content .useful-links ul li:last-child{
    margin-right:0px;
}

.content .news-and-notice{
    width: 1200px;
    height: 375px;
    margin: 0 auto;
    margin-top: 56px;
}

.content .news-and-notice .news{
    float: left;
    width: 878px;
    height: 375px;
}

.content .news-and-notice .notice{
    float: left;
    width: 322px;
    height: 375px;
}

.content .news-and-notice .news h3{
    height: 21px;
    margin-bottom: 27px;
}

.content .news-and-notice .news .news-content .hot-news{
    float: left;
    width: 422px;
    height: 328px;
    margin-right: 15px;
    position: relative;
}
.content .news-and-notice .news .news-content .hot-news .info{
    position: absolute;
    width: 368px;
    height: 18px;
    left: 27px;
    bottom: 11px;
    color: #FFFFFF;
    text-align: center;
    line-height: 18px;
}
.content .news-and-notice .news .news-content ul{
    float: left;
    width: 400px;
    height: 328px;
}
.content .news-and-notice .news .news-content ul li{
    line-height: 40px;
}

.content .news-and-notice .news .news-content ul li a{
    float: left;
    color: #000000;
}
.content .news-and-notice .news .news-content ul li.cur a{
    color: #00978E;
    font-weight: bold;
}

.content .news-and-notice .news .news-content ul li span{
    float: right;
}

.content .news-and-notice .notice  h3{
    height: 21px;
    margin-bottom: 16px;
}
.content .news-and-notice .notice  ol li{
    overflow: hidden;
    margin-bottom: 14px;
}
.content .news-and-notice .notice  ol li .number{
    float: left;
    width: 53px;
    height: 57px;
    background-color: #00978E ;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 57px;
    margin-right: 9px;
}
.content .news-and-notice .notice  ol li dl dt a{
    color: #000000;
}
.content .news-and-notice .notice  ol li dl dd a{
    color: #000000;
}
.content .ad-images{
    width: 1200px;
    margin: 20px auto;
}
.content .dep-info{
    height: 427px;
    background-color: #FAFAFA;
}
.content .dep-info .center{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 37px;
    position: relative;
}
.content .dep-info .center .more{
    position:absolute;
    right: 0;
    top:37px;
    font-family: Helvetica;
    font-size: 14px;
    color: #999999;
}
.content .dep-info .center .col{
    float: left;
    width: 265px;
    padding-left: 35px;
}
.content .dep-info .center .col h4{
    text-align: center;
    margin-bottom: 18px;
    margin-top: 19px;
    position:relative;
}
.content .dep-info .center .col h4::before{
    content: '';
    position:absolute;
    width: 40px;
    left:61px;
    top:12px;
    height: 2px;
    background-color: #00978E;
}
.content .dep-info .center .col h4::after{
    content: '';
    position:absolute;
    width: 40px;
    left:162px;
    top:12px;
    height: 2px;
    background-color: #00978E;
}
.content .dep-info .center .col li{
    float: left;
    width: 119px;
    height: 34px;
    border: 1px solid #AAA9A9;
    text-align: center;
    line-height: 34px;
    margin-right: 21px;
    margin-bottom: 25px;
}
.content .dep-info .center .col li:nth-child(2n){
    margin-right: 0px;
}
.content .dep-info .center .col li a{
    color: #000000;
}
.content .dep-info .center .col li .spec{
    color: #00978E;
}
.content .exp-info {
    width: 1200px;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
}
.content .exp-info .more{
    position:absolute;
    right: 0;
    top:60px;
    font-family: Helvetica;
    font-size: 14px;
    color: #999999;
}
.content .exp-info ul{
    overflow: hidden;
    padding-top: 20px;
}
.content .exp-info ul li{
    float: left;
    width: 400px;
    height: 240px;
}
.content .exp-info ul li .picbox{
    float: left;
    width: 152px;
}
.content .exp-info ul li .picbox a img{
    width: 152px;
}
.content .exp-info ul li .wordbox{
    float: left;
    width: 230px;
    padding-left: 14px;
    color: #000000;
    line-height: 27px;
}
/* 页脚 */
footer{
    height: 395px;
    background-color: #FAFAFA;
}
footer .center{
    padding-top: 67px;
    width: 1200px;
    margin: 0 auto;
}
footer .center h3{
    font-family: Helvetica;
    font-size: 20px;
    color: #000000;
    font-weight: normal;
}
footer .center .frend-links ul{
    overflow: hidden;
    padding-top: 20px;
}
footer .center .frend-links ul li{
    float: left;
    padding: 0 50px;
}
footer .center .frend-links ul li a {
    font-family: Helvetica;
    font-size: 16px;
    color: #000000;
}
footer .center address{
    font-style: normal;
    padding-top: 30px;
}
footer .center address ul{
    width: 730px;
    padding-top: 18px;
}
footer .center address ul li{
    float: left;
    width: 237px;
    margin-bottom: 20px;
    font-family: Helvetica;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
}
footer .center address ul li a{
    color: #000000;
}

